<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.5.0">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/spdlog/branches</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.9"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.9">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.19">
      <branch plugin="branch-api@2.0.20">
        <sourceId>63da3fa6-8e70-4e28-b483-78eace6b22ed</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@2.3.4">
          <name>master</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/master:refs/remotes/origin/master</refspec>
              <url>https://github.com/lilinj2000/spdlog.git</url>
              <credentialsId>github</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>master</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/lilinj2000/spdlog</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@2.3.4">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.com/lilinj2000/spdlog/tree/master</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@2.2.7">
            <objectDisplayName>master</objectDisplayName>
            <objectUrl>https://github.com/lilinj2000/spdlog/tree/master</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
          <jenkins.scm.api.metadata.PrimaryInstanceMetadataAction plugin="scm-api@2.2.7"/>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.19">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>